
@{
    ViewBag.Title = "Test";
}

<h2 id="title">Test</h2>

@Html.AntiForgeryToken()
<!-- FAILS -->
@*<script type="module">
        var token = $('input[name="__RequestVerificationToken"]').val();
        var response = await fetch("/home/testPost", {
            method: "POST",
            headers: { "XSRF-HEADER": token }
        });
        if (response.ok) {
            var responseText = await response.text();
            document.getElementById("title").innerHTML = "OK";
        } else {
            document.getElementById("title").innerHTML = `Request Failed: ${response.status}`
        }
    </script>*@

<!-- WORKS, but geez?-->
<script type="module">
    var response = await fetch("/antiforgery/token", {
        method: "GET"
    });

    if (response.ok) {
        // https://developer.mozilla.org/docs/web/api/document/cookie
        const xsrfToken = document.cookie
            .split("; ")
            .find(row => row.startsWith("XSRF-HEADER="))
            .split("=")[1];

        var token = $('input[name="__RequestVerificationToken"]').val();
        var response = await fetch("/home/testPost", {
            method: "POST",
            headers: { "XSRF-HEADER": xsrfToken }
        });
        if (response.ok) {
            var responseText = await response.text();
            document.getElementById("title").innerHTML = "OK";
        } else {
            document.getElementById("title").innerHTML = `Request Failed: ${response.status}`
        }
    } else {
        resultElement.innerText = `Request Failed: ${response.status}`
    }
</script>

