
@{
    ViewBag.Title = "Test";
}

<h2 id="title">Test</h2>

@Html.AntiForgeryToken()

<div>
    @ViewBag.Test
</div>

<script type="module">
    var response = await fetch("/antiforgery/tokenValue", {
        method: "GET"
    });

    if (response.ok) {
        var netCoreToken = JSON.parse(await response.text());        
        var net48Token = $('input[name="__RequestVerificationToken"]').val();
        var response = await fetch("/home/testPost", {
            method: "POST",
            headers: { "XSRF-HEADER": netCoreToken, "__RequestVerificationToken": net48Token }
        });
        if (response.ok) {
            var responseText = await response.text();
            document.getElementById("title").innerHTML = "OK";
        } else {
            document.getElementById("title").innerHTML = `Request Failed: ${response.status}`
        }
    } else {
        resultElement.innerText = `Request Failed: ${response.status}`
    }
</script>

